name: Docker Actions
on:
  pull_request:
    types: [labeled]

jobs:
  action:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3 
      - name: hello-action
        uses: ./.github/actions/hello-world
        with:
          firstGreeting: "Xena Princess"
      - name: meaow
        id: cat
        uses: ./.github/actions/cat-facts
      - name: create-issue
        uses: ./.github/actions/issue-maker
        with: 
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          catFact: ${{ steps.cat.outputs.fact }}
          issueTitle: "a cat fact for you"
